body {
    font-family: 'Fira Sans', sans-serif;
    color: #000307;
}
html, body, #app {
    height: 100%;
}

a {
    text-decoration: none!important;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-light {
    background: rgba(255, 255, 255, 0.5);
}
.navbar-light .navbar-nav .nav-link {
    color: #7C7C7C;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer {
    background-image: linear-gradient(180deg, #6748AB 10%, #0E3869 100%);
    color: #fff;
    position: relative;
}
.footer >div {
    background-image: url(../img/hoja-bg-footer.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.footer .box {
    width: 90%;
    margin: -50px auto 0 auto;
    background-image: linear-gradient(140deg, #FC5C80 20%, #FDD257 90%);
    padding: 10%;
    text-align: center;
}
.footer .social {
    text-align: center;
    margin-bottom: 10px;
}
.footer .social a {
    display: inline-block;
    margin: 5px 15px;
}
.footer .social a:hover {
    opacity: .8;
}
.footer .links a {
    display: inline-block;
    margin: 10px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer .logo >img {
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer .logo a {
    display: inline-block;
    color: #fff;
    font-size: .9rem;
    margin: 5px 0;
    white-space: nowrap;
}
.footer .logo a img,
.footer .logo a span {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}
.footer .links a:hover, .footer .logo a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer img.hoja {
    position: absolute;
    bottom: 0;
    width: 50%;
    max-width: 550px;
}

.footer .copy {
    width: 45%;
    margin: 15px 5% 5% auto;
    text-align: right;
    font-size: .7rem;
    font-weight: 300;
}
.footer .copy img {
    max-width: 100px;
    vertical-align: bottom;
}

@media (min-width: 576px){
    
    
    
}

@media (min-width: 768px){
    
    .navbar {
        padding: .5rem 5rem;
    }
    
    .footer .box {
        text-align: left;
        padding: 40px 10% 100px 10%;
    }
    .footer .logo >img {
        margin-top: 0;
    }
    .footer .copy {
        width: 90%;
        margin: 15px auto 5% auto;
        font-size: .8rem;
    }
    .footer img.hoja {
        width: 40%;
    }
    
}

@media (min-width: 992px){
    
    .footer .copy {
        text-align: center;
    }
    .footer img.hoja {
        width: 30%;
    }
}

@media (min-width: 1200px){
    
    .footer .box {
        width: 80%;
    }
    .footer .copy {
        width: 80%;
        margin: 15px auto 8% auto;
    }
}

@font-face {
    font-family: 'Nimbus';
    font-style: normal;
    font-weight: 400;
    src: local('Nimbus Sans Becker PBla'), url('../fonts/nimbus_sans_becker_pbla.woff') format('woff');
}
@font-face {
    font-family: 'Guthen';
    font-style: normal;
    font-weight: 400;
    src: local('Guthen Bloots Personal Use'), url('../fonts/Guthen-Bloots-Personal-Use.woff') format('woff');
}